<div class="side-bar">
    <ul>
        <li class="menu-head">
            <p class="company_logo">Tech2Care
                <a href="#" class="push_menu">
                    <span class="glyphicon glyphicon-align-justify pull-right">
                    </span>
                </a>
            </p>
        </li>
        <div class="menu">
            <li>
                <a href="/" class="active">Patient Management<span class="glyphicon glyphicon-dashboard pull-right"></span></a>
            </li>
            <li>
                <a href="#">Menu 2<span class="glyphicon glyphicon-heart pull-right"></span></a>
            </li>
            <li>
                <a href="#">Menu 3<span class="glyphicon glyphicon-star pull-right"></span></a>
            </li>
            <li>
                <a href="#">Menu 4<span class="glyphicon glyphicon-cog pull-right"></span></a>
            </li>
        </div>
    </ul>
</div>

