<div class="side-bar">
    <ul>
        <li class="menu-head">
            <p class="company_logo">Tech2Care
                <a href="#" class="push_menu">
                    <span class="glyphicon glyphicon-align-justify pull-right">
                    </span>
                </a>
            </p>
        </li>
        <div class="menu">
            <li>
                <a href="/" class="active">Patient<span class="glyphicon glyphicon-dashboard pull-right"></span></a>
            </li>
            <li>
                <a href="/order_management">Orders<span class="glyphicon glyphicon-heart pull-right"></span></a>
            </li>
            <li>
                <a href="/sample_collection">Sample Collection<span class="glyphicon glyphicon-star pull-right"></span></a>
            </li>
            <li>
                <a href="/result_componuts_management">Result Componuts<span class="glyphicon glyphicon-cog pull-right"></span></a>
            </li>
            <li>
                <a href="/resultentrybuilder">Manage Reference<span class="glyphicon glyphicon-cog pull-right"></span></a>
            </li>
            <li>
                <a href="/resultentry">Result Entry</a>
            </li>
            <li>
                <a href="/reportbuilder">Report Builder</a>
            </li>
            <li>
                <a href="/reportpublisher">Report Viewer</a>
            </li>
        </div>
    </ul>
</div>
