<div class="side-bar">
    <ul>
        <li class="menu-head">
            <p class="company_logo"><a href='/'>
              <img width="80%" src="../images/Tech2Care_logo.png" /></a>
                <a href="#" class="push_menu">
                    <span class="glyphicon glyphicon-align-justify pull-right">
                    </span>
                </a>
            </p>
        </li>
        <div class="menu">
            <li>
                <a href="/patient" class="active">Patient<span class="glyphicon glyphicon-dashboard pull-right"></span></a>
            </li>
            <li>
                <a href="/order_management">Orders<span class="glyphicon glyphicon-heart pull-right"></span></a>
            </li>
            <li>
                <a href="/sample_collection">Sample Collection<span class="glyphicon glyphicon-star pull-right"></span></a>
            </li>
            <li>
                <a href="/resultentry">Result Entry<span class="glyphicon glyphicon-star pull-right"></a>
            </li>
            <li>
                <a href="/reportpublisher">Report Viewer<span class="glyphicon glyphicon-star pull-right"></a>
            </li>
            <li>
                <a href="/result_componuts_management"></a>
            </li>
            <li>
                <a href="/resultentrybuilder"></a>
            </li>
            <li>
                <a href="/reportbuilder"></a>
            </li>
        </div>
    </ul>
</div>
