<div class="col-md-12" style="margin-left: 25%">
    <br /><br /><br /><br /><br /><br />
    <div class="row">
    <a href="/new_patient" class="btn btn-warning btn-lg">
    Add Patient
    <span class="glyphicon glyphicon-plus-sign"></span>
    </a>
    <a href="/patient_search" class="btn btn-warning btn-lg">
        <span class="glyphicon glyphicon-search"></span>
        Patient Search
    </a>
    </div>
</div>