<div class="col-md-12" style="margin-left: 2%">
    <br/>
    <div class="row">
      <div class="col-md-3">
          <button style="width:14em;
          height:10em;
          border-radius: 4px 40px;"
          onclick="location.href='/patient';">
           <img src="images/Patient_icon.png" width="150px" height= "100px">
          Patient Dashboard</button>
      </div>
      <div class="col-md-3">
          <button style="width:14em;height:10em;
          border-radius: 4px 40px;"
          onclick="location.href='/order_management';" >
            <img src="images/order_management_icon.png" width="150px" height= "100px">
            Order Management</button>
      </div>
      <div class="col-md-3">
          <button style="width:14em;height:10em;
          border-radius: 4px 40px;"
          onclick="location.href='/sample_collection';">
            <img src="images/speciment_icon.png" width="150px" height= "100px">
            Sample Collection</button>
      </div>
      <div class="col-md-3">
          <button style="width:14em;
          height:10em;
          border-radius: 4px 40px;"
          onclick="location.href='/resultentry';"><img src="images/lab_icon.png" width="150px" height= "100px">
            Result Entry</button>
      </div>
    </div><br />
    <div class="row">
      <div class="col-md-3">
          <button style="width:14em;height:10em;
          border-radius: 4px 40px;"
          onclick="location.href='/report_aunth';">
            <img src="images/report_viewer_icon.png" width="150px" height= "100px">
            Report Authontication</button>
      </div>
      <div class="col-md-3">
          <button style="width:14em;height:10em;
          border-radius: 4px 40px;"
          onclick="location.href='/reportpublisher';">
            <img src="images/report_icon.png" width="150px" height= "100px">
            Report Viewer</button>
      </div>

      <div class="col-md-3">
          <button style="width:14em;height:10em;
          border-radius: 4px 40px;"
          onclick="location.href='/result_componuts_management';">
            <img src="images/result_comp.png" width="150px" height= "100px">
            Result Componuts</button>
      </div>

      <div class="col-md-3">
          <button style="width:14em;height:10em;
          border-radius: 4px 40px;"
          onclick="location.href='/resultentrybuilder';">
            <img src="images/manage_ref.png" width="150px" height= "100px">
            Manage Reference</button>
      </div>
    </div><br />
    <div class="row">
      <div class="col-md-3">
          <button style="width:14em;height:10em;
          border-radius: 4px 40px;"
          onclick="location.href='/reportbuilder';">
            <img src="images/report_builder.png" width="150px" height= "100px">
            Report Builder</button>
      </div>
    </div>
</div>
