<br />
<div class="col-md-12">
  <div class="well">
      <h3><a href="/" class="btn btn-warning btn-lg">
          <span class="glyphicon glyphicon-arrow-left"></span>
      </a>
          New Patient Registration Form</h3><br />
      <div class="row">
          <div class="col-md-12">
              <form id="new_patient" method="post" action="/new_patient" onsubmit="alert('Hi')">
              <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a style="text-decoration: none;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Patient Basic Information</a>
                          </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="grant1">First Name</label>
                                          <input tabindex="1" type="text" class="form-control" id='fname' name="fname" placeholder="First Name" required />
                                      </div>
                                      <div class="form-group">
                                          <label for="grantparent">Gender</label>
                                          <select tabindex="3" class="form-control" name="gender" required>
                                              <option>Please Select</option>
                                              <option>M</option>
                                              <option>F</option>
                                          </select>
                                      </div>
                                      <div class="form-group">
                                          <label for="grantparent">Date of Birth</label>
                                          <input tabindex="5" type="date" class="form-control" name="dob" onchange="getPatientAge(event)">
                                      </div>
                                      <div class="form-group">
                                          <label for="Address 1">Address 1</label>
                                          <input tabindex="7" type="text" class="form-control" name='add1' placeholder="Address 1" />
                                      </div>
                                      <div class="form-group">
                                          <label for="City">City</label>
                                          <input tabindex="9" type="text" class="form-control" name="city" placeholder="City" required />
                                      </div>
                                      <div class="form-group">
                                          <label for="grant1">Country</label>
                                          <input tabindex="11" type="text" class="form-control" name='country' placeholder="Country" />
                                      </div>
                                      <div class="form-group">
                                          <label for="grantpo">Physican Name</label>
                                          <input tabindex="13" type="text" class="form-control" id='fname' placeholder="First Name" required />
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="shorttitle">Last Name </label>
                                          <input tabindex="2" type="text" class="form-control" name='lname' placeholder="Last name" required />
                                      </div>
                                      <div class="form-group">
                                          <label for="title">Phone Number</label>
                                          <input tabindex="4" type="text" class="form-control" name='phone_number' placeholder="Phone Number" required />
                                      </div>
                                      <div class="form-group">
                                          <label for="suplimenta">Age</label>
                                          <input tabindex="6" type="text" class="form-control" id='age' name='age' readonly/>
                                      </div>
                                      <div class="form-group">
                                          <label for="grant1">Address 2</label>
                                          <input tabindex="8" type="text" class="form-control" name='add2' placeholder="Address 2" />
                                      </div>
                                      <div class="form-group">
                                          <label for="grant1">State</label>
                                          <input tabindex="10" type="text" class="form-control" name='country_state' placeholder="State" />
                                      </div>
                                      <div class="form-group">
                                          <label for="grantpo">Insurance Type</label>
                                          <select tabindex="12" class="form-control" id="grantpo">
                                              <option selected>Self</option>
                                          </select>
                                      </div>
                                      <div class="form-group">
                                          <label for="grantpo">Address</label>
                                          <input tabindex="14" type="text" class="form-control" id='fname' placeholder="First Name" required />
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <input type="submit" class="btn btn-success" value="Submit" />
              </form>
          </div>
      </div>
  </div>
</div>

<script>
    function getPatientAge(e){
        var age = GetAge(e.target.value);
        document.getElementById("age").setAttribute('value',age);
    }
    function GetAge(birthDate) {
        var today = new Date();
        var res = String(birthDate).split("-");
        var age = today.getFullYear() - parseInt(res[0]);
        var m = today.getMonth() - parseInt(res[1]);
        if (m < 0 || (m === 0 && today.getDate() < parseInt(res[0]))) {
            age--;
        }
        return age;
    }
</script>

