<link href="/css/patient_search.css" rel="stylesheet">
<br /><br />
<div class="col-md-12" style="margin-left: 5%;width: 100%">
    <form><div class="col-md-5">
    <div class="form-group">
        <div class="icon-addon addon-lg">
            <input type="text" placeholder="Phone Number" class="form-control" id="phone">
            <label for="phone" class="glyphicon glyphicon-search" rel="tooltip" title="Search Patient"></label>
        </div>
    </div></div></form>
    <table id="patient_search_result" class="table table-bordred table-striped">
    <thead>
    <tr>
        <th>MRN</th>
        <th>Firt Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Phone Number</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1234567</td>
        <td>TEST</td>
        <td>TEST1</td>
        <td>Mejestic</td>
        <td>Bangalore</td>
        <td>1231287368</td>
        <td>
            <button class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </td>
    </tr>
    <tr>
        <td>1234567</td>
        <td>TEST</td>
        <td>TEST1</td>
        <td>Mejestic</td>
        <td>Bangalore</td>
        <td>1231287368</td>
        <td>
            <button class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </td>
    </tr>
    <tr>
        <td>1234567</td>
        <td>TEST</td>
        <td>TEST1</td>
        <td>Mejestic</td>
        <td>Bangalore</td>
        <td>1231287368</td>
        <td>
            <button class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </td>
    </tr>
    <tr>
        <td>1234567</td>
        <td>TEST</td>
        <td>TEST1</td>
        <td>Mejestic</td>
        <td>Bangalore</td>
        <td>1231287368</td>
        <td>
            <button class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </td>
    </tr>
    <tr>
        <td>1234567</td>
        <td>TEST</td>
        <td>TEST1</td>
        <td>Mejestic</td>
        <td>Bangalore</td>
        <td>1231287368</td>
        <td>
            <button class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </td>
    </tr>
    <tr>
        <td>1234567</td>
        <td>TEST</td>
        <td>TEST1</td>
        <td>Mejestic</td>
        <td>Bangalore</td>
        <td>1231287368</td>
        <td>
            <button class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </td>
    </tr>
    <tr>
        <td>1234567</td>
        <td>TEST</td>
        <td>TEST1</td>
        <td>Mejestic</td>
        <td>Bangalore</td>
        <td>1231287368</td>
        <td>
            <button class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </td>
    </tr>
    <tr>
        <td>1234567</td>
        <td>TEST</td>
        <td>TEST1</td>
        <td>Mejestic</td>
        <td>Bangalore</td>
        <td>1231287368</td>
        <td>
            <button class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </td>
    </tr>
    <tr>
        <td>1234567</td>
        <td>TEST</td>
        <td>TEST1</td>
        <td>Mejestic</td>
        <td>Bangalore</td>
        <td>1231287368</td>
        <td>
            <button class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>
    <div>
        <a href="#" class="paginate" id="previous">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="#" class="paginate" id="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
<script type='text/javascript' src="/js/patient_search.js"></script>