<div class="col-md-12" style="margin-left: 2%">
    <br/>
    <div class="row">
        <button type="button" class="btn btn-warning btn-lg add_patient_btn"
                data-toggle="modal" data-target="#result_componut_model">
            Add Result Componut</button>
    </div>
    <br />
    <table id="result_componuts_table" border="0" class="table table-hover" style="width: 90%;">
        <thead class="table-header ">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Unit</th>
            <th>Reference Value</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each result_componuts_data}}
            <tr onclick="openPatinetDashboard(this);">
                <td>{{name}}</td>
                <td>{{description}}</td>
                <td>{{unit}}</td>
                <td>{{reference_value}}</td>
                <td>
                    <button class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <div>
        <a href="#" class="paginate" id="previous">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="#" class="paginate" id="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>


<!-- New Order Term -->
<div class="modal fade" id="result_componut_model" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Result Componut</h4>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name">
                    </div>
                    <div class="form-group">
                        <label for="desc">Description:</label>
                        <input type="text" class="form-control" name="desc">
                    </div>
                    <div class="form-group">
                        <label for="unit">Unit:</label>
                        <input type="text" class="form-control" name="unit">
                    </div>
                    <div class="form-group">
                        <label for="reference_value">Reference Value:</label>
                        <input type="text" class="form-control" name="reference_value">
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Submit</button>
                </form>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
